* {
    font-family: monospace;
  }
button {
  margin: 1rem 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  margin: auto;
  max-width: 60%;
}
.keys {
  height: 6rem;
}
.container {
    display: flex;
    justify-content: center;
}
.game-container {
  width: 50%;
}
.help-container {
  width: 25%;
}
.score-container {
  width: 25%;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.container div {
  padding: 1rem;
}
.game-board {
    border: solid 2px;
    border-radius: .5rem;

  }
  /* .next {
    border: solid 2px;
    border-radius: .25rem;
  }
  .hold {
    border: solid 2px;
  } */
